<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>El Carmen</h1>
            <h3>Sin duda, un lugar con encanto.</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    
    <div class="section section-dark">
            <div class="container">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                  </ul>
                </nav>
                <div class="row example-page">
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/casas/casa6.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            <!--<a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>-->
                        </a>
                    </div>

                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/casas/casa2.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            
                        </a>
                    </div>
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/casas/casa1.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            
                        </a>
                    </div>
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/casas/casa4.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            <!--<a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>-->
                        </a>
                    </div>

                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/casas/casa3.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            
                        </a>
                    </div>
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/casas/casa5.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; height: 230px">
                            
                        </a>
                    </div>
                </div>

            </div>
        </div>

    <div class="section section-dark">


            <!--Google map -->
                <div id="map-container" class="z-depth-1 container">
                    <img src="./assets/img/mapImage.jpg" class="img-responsive img-rounded"  >
                </div>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSiO1P-CdpjdWTjgjSbl2NViTDM6nRpM&callback=myMap"></script>
    </div>
    
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a [routerLink]="['/dashboard']">Administración</a></li>
                        <!--   <li><a href="http://blog.creative-tim.com">Portfolio</a></li>-->
                            <li><a [routerLink]="['/profile']">Quienes somos</a></li>
                            <li><a href="#">Licencias</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © {{test | date: 'yyyy'}}, hecho con <i class="fa fa-heart heart"></i> por Mario Fernández
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    

</div>

